#site-wrapper {
	background-color:#f6f6f6;
	padding: 0;
	min-height: 100vh;
}
#deal-overview {
	background-color: #fff;
	padding: 15px 0 30px 0;
}
#deal-overview h2{
	font-size: .8em;
	margin: 0 0 3px 0;
}
#deal-overview p {
	font-size: 1.5em;
	margin-bottom: 10px;
}
#deal-overview h2, #deal-overview p{
	line-height: 1;
}
#deal-overview h2, #deal-overview p, h1, #deal-overview #btn-back span{
	font-family: 'Dosis', sans-serif;
}
#deal-overview #btn-back {
	padding: 0 0 15px 15px;
	color: green;
}
#deal-overview #btn-back a {
	color: green;
}
#deal-overview #btn-back a:hover {
	text-decoration: none;
}

#deal-overview #btn-back span {
	position: relative;
	font-size: 20px;
	font-weight: bold;
	bottom: 3px;
	left: 3px;
}
#deal-overview .original-price {
	color: darkgreen;
}
#deal-overview .price-tag {
	color: darkred;
}
#deal-overview button, .btn-to-deal {
	border: 1px solid green;
	color: #fff;
    background-color: green;
    transition: all .3s ease-in-out;
    margin-top: 30px;
    outline: none;
}
#deal-overview button:hover, .btn-to-deal:hover {
	background-color: darkgreen;
}
.btn-to-deal {
	display: block;
	margin: 0 auto;

}
article {
	padding: 50px 10px 30px 10px;
}
h1 {
	font-size: 1.7em;
}
article p, .popover p {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}
.popover-content p {
	margin-bottom: 20px;
	color: #000;
}
figure {
	margin: 0;
}
p:last-child {
	margin-bottom: 0;
}
/*popover*/

.popover strong {
	color: darkred;
	font-family: 'Dosis', sans-serif;
}

.popover #close {
	position: relative;
	bottom: 5px;
}
.popover .form-control {
	margin-bottom: 20px;
}
.popover .form-control:focus {
	border-color: green;
}
.popover .form-control option:active{
	border-color: green!important;
}
@media(max-width:767px) {
	#deal-overview a.btn {
		display: block;
		margin: 30px auto 0 auto;
		background-color: green;
		color: #fff;
	}
	#deal-overview a.btn:hover {
		background-color: green;
	}
	.popover {
		left: 11%!important;
	}
}

