#site-wrapper {
	background-color:#f6f6f6;
	
	padding: 0;
	min-height: 100vh;
}
#deal-overview {
	background-color: #fff;
	padding: 30px 0;
}
#deal-overview h2{
	font-size: .8em;
	margin: 0 0 3px 0;
}
#deal-overview p {
	font-size: 1.5em;
	margin-bottom: 10px;
}
#deal-overview h2, #deal-overview p{
	line-height: 1;
}
#deal-overview h2, #deal-overview p, h1{
	font-family: 'Dosis', sans-serif;
}
#deal-overview .original-price {
	color: green;
}
#deal-overview .price-tag {
	color: red;
}
article {
	
	padding: 50px 10px 30px 10px;
}
h1 {
	font-size: 1.7em;
}
article p {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}
figure {
	margin: 0;
}
p:last-child {
	margin-bottom: 0;
}

/*
font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;
*/