body {
	margin-top: 53px;
	min-height: 100%;
}
#organization {
	padding: 0;
}
#organization > div, #enterprise {
	background-color: #fff;
	padding-top: 53px;
}
#enterprise {
	padding-bottom: 60px;
}
#organization article, #enterprise article {
	color: #666;
}
#organization figure {
	display: inline-block;
	margin: 0;
	padding: 0;
	height: auto;
	position: absolute;
	bottom: 0;
}
#organization img {
	display: inline-block;
	width: 100%;
}
#organization a, #enterprise a {
	color: darkred;
	font-weight: bold;
}
#organization a.btn {
	width: 400px;
	font-weight: normal;
	display: block;
	margin: 0 auto;
	border-color: darkred;
	color: darkred;
	transition: .3s ease-in-out;
}
#organization a.btn:hover {
	background-color: darkred;
	color: #fff;
	transition: .3s ease-in-out;
}
.feature .fa {
	display: inline;
	width: 30%;
	color: darkred;
	padding: 0 10px 50px 0;
	font-size: 2.5em;
}
#organization h3, #organization h2, #enterprise h2 {
	font-size: 22px;
	font-weight: bold;
	font-family: 'Dosis', sans-serif;
}
#organization p {
	font-family: 'Open Sans', sans-serif;
}
.feature div {
	float: left;
}

.feature div:last-child {
	width: 70%;
}
#parallax {
	background-color: rgba(0,0,0,0.4)!important;
	color: #fff;
	text-align: center;
}
#parallax h2 {
	text-align: center;
	margin-bottom: 30px;
}
#organization li span {
	position: relative;
	bottom: 5px;
}
#organization > div:last-child figure {
	position: static;
}
#organization > div:last-child img {
	width: 85%;
}

#organization ul {
	list-style-type: none;
	padding-left: 0;
	margin-top: 30px;
}
#organization ul i {
	color: darkred;
	font-size: 30px;

}
#organization a[href*="itunes"] {
	margin: 40px 0 20px 0;
} 
                         
#organization a[href*="play"] {
	margin: 0 0 20px 0;
}
#organization a[href*="itunes"] i, #organization a[href*="play"] i {
	float: left;
} 
#organization a[href*="itunes"] span, #organization a[href*="play"] span {
	position: relative;
	top: 5px;
}

/*Contact form*/
#contact #form-wrapper {
	font-family: 'Dosis', sans-serif;
	padding: 100px 0;
}
#contact h1 {
	color: #fff;
	margin-bottom: 20px;
	text-align: center;
}
#contact #form-container {
	padding:0;
}
#contact #contact-form {
	background-color: rgba(0,0,0,0.5);
	border-radius: 3px;
	padding: 20px;
	max-width: 500px;
	margin: 0 auto;
}
#contact .form-control {
	background-color: transparent;
	border: 1px solid #fff;
	color: #fff;
	transition: .2s ease-in-out;
}
#contact .form-control:focus {
	background-color: #fff;
	color: #666;
}
#contact #contact-form button {
	color: #fff;
	border-color: #fff;
	transition: .3s ease-in-out;
}
#contact #contact-form button:hover {
	background-color:#fff;
	color: #6f3333;
}
#contact ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
#contact ::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
#contact :-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
#contact :-moz-placeholder { /* Firefox 18- */
  color: #fff;
}
#contact .form-control:focus::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #666;
}
#contact .form-control:focus::-moz-placeholder { /* Firefox 19+ */
  color: #666;
}
#contact .form-control:focus:-ms-input-placeholder { /* IE 10+ */
  color: #666;
}
#contact .form-control:focus:-moz-placeholder { /* Firefox 18- */
  color: #666;
}
@media(max-width:767px) {
	#organization figure {
		width: 100%;
	}
	#organization img {
		width: 100%;
	}
	#organization > div:last-child img {
	width: 95%;
	float: right;
	}
	#organization article div:last-child {
		width: 80%;
		float: right;
	}
	#organization a.btn {
		width: 95%;
		background-color: darkred;
		color: #fff;
	}
	#login #form-wrapper {
		padding: 0;
	}

}
@media(max-width:992px) {
	#organization figure {
		position: static;
	}
}
@media(min-width:1921px) {

	#organization img {
		width: 500px;
		float: right;
	}
}