/*FONT*/
@import url('https://fonts.googleapis.com/css?family=Dosis|Open+Sans:300|Roboto');

#site-nav, #site-nav .btn, #categories-filter-navigation {
    font-family: 'Alegreya Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6, .deal-card p, span, .btn {
    font-family: 'Dosis', sans-serif;
}
p, .faq {
    font-family: 'Open Sans', sans-serif;
}

/*------------------------ GLOBAL ---------------------------*/
html, body {
    height:100%;
}
body {
    background: url('../img/bg-red.jpg');
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
body::-webkit-scrollbar { 
    display: none; 
}
.row {
    margin: 0;
    padding: 0;
}

/* SITE NAVIGATION */
.navbar {
    background-color: #6f3333;
    opacity: 1;
    transition: all 0.5s ease-in-out;  
}
.navbar img {
    width: 90%;
    height: 90%;
}
.nav .nav-item .nav-link, #site-nav .dropdown-item, #site-nav .dropdown-toggle {
    color: #d1d1d1;
}
.nav .nav-item .nav-link:hover, #site-nav .dropdown-item:hover {
    color: #fff;
}
#site-nav.sitenav-hidden {
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
#site-nav .dropdown-toggle {
    background-color: transparent;
    border: 0;
    outline: none;
    padding: .588rem 0 0 0;
}
#site-nav #dropdown-faq {
    top: 45px;
    left: -60px;
    background-color: #6f3333;
}

#site-nav .dropdown-item:hover {
    background-color: rgba(0,0,0,0.2);
}
/* END SITE NAVIGATION */
/* FOOTER */
#footer {
    padding:2rem 0;
    background-color: rgba(0,0,0,0.4);
    color:white;
}
#footer a {
    color:#fff;
}

#footer a.btn {
    border: 1px solid #fff;
    background-color: transparent;
    transition: all .3s ease-in-out;
    margin: 0 5px 15px 0;
}
#footer a.btn:hover {
    background-color: #fff;
    color: darkred;
    transition: all .3s ease-in-out;
}
#footer img {
    width: 135px;
    height: 40px;
    margin-bottom: 15px;
}
#app-links a:first-child {
    margin-right: 10px;
}
#app-links a:last-child img {
    border: 1px solid #bbb;
    border-radius: 3px;
    box-sizing: border-box;
}
#footer .fa {
    padding:0 5px;
}
/*------------------------ END GLOBAL ----------------------*/

/*------------------------ INDEX.HTML ----------------------*/
/*HEADER*/
#header {
    background-color: transparent;
    color: #fff;
    padding-bottom: 20px;
}
#header .header-slide-container {
    padding: 0;
    text-align: center;
}
#header .header-slide-container img {
    margin-top: 75px;
    width: 50%;
    height: auto;
}

/* CATEGORY FILTER */
#categories-filter-navigation {
    padding: 0 5px;
    border-radius: 0;
    text-align: center;
}

#categories-filter-navigation ul {
    font-size: 1.17vw;
}
#categories-filter-navigation ul,
#categories-filter-navigation li {/**/
    float: none;
    display: inline;
}
#categories-filter-navigation li {/**/
    display: inline;
}
#categories-filter-navigation a {
    display: inline-block;
    padding: 8px 10px;
    text-transform: uppercase;
}
#categories-filter-navigation a:hover {
    background-color: rgba(0,0,0,0.2);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
#categories-filter-navigation .navbar-nav .nav-item+.nav-item {
    margin-left: .5vw;
}
#btn-category-toggler {
    background-color: transparent!important;
    border: 0;
    outline-color: transparent;
    color: #fff;
    font-size: 1.5vw;
}
#categories-filter-navigation .toggle-icon {
    transition: .5s ease-in-out;
}
#categories-filter-navigation .toggle-icon-rotate {
    transform: rotate(180deg);
}
#main .popover.bs-tether-element-attached-bottom::after,
#main .popover.bs-tether-element-attached-bottom::before{
    left: 85%;
}
#main .popover h3 {
    background-color: #fff;
}
#main .popover-title {
    border-bottom:0;
}
#main .popover-content {
    height: 0;
    margin:0;
    padding:0;
}
/*categories dropdown section*/

.filter {
    height: 0;
    overflow: hidden;

}
.filter-open {
    padding-top: 30px;
    height: 380px;
}
.filter, .filter-open {
    transition: all .5s ease-in-out;
    background-color: rgba(0,0,0,0.4);
}
.filter h1 {
    font-size: 1.5em;
    color: #d1d1d1;
}
.filter a {
    padding: 0;
    color: #d1d1d1;
} 
.filter a:hover {
    color: #fff;
    background-color: transparent;
}
.category-header {
    padding: 0;
}
.filter input[type="text"] {
    outline: none;
    box-shadow:none !important;
    border:1px solid #ccc !important;
}
/* END CATEGORIES */

/*DEALS*/
#popular-deals {
    background-color:#f6f6f6;
}
#popular-deals .deal-info, .deals {
    background-color: #fff;
}

.deals {
    width: 100%;
    padding: 80px 0;
}
.deals hr {
    border-top: 1px solid #be2835;
    margin: 0 auto 30px auto;
    width: 150px;
}
.deals .deal-image-container { 
    position: relative; 
    margin-bottom: 0;
}
.deals .img-overlay {
    position:absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    background-image: url('../img/eye (2).png');
    background-position: center center;
    background-repeat: no-repeat;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.deals .img-overlay:hover {
    opacity:1;
}
.deals .deal-info {
    padding: 5px;
    background-color:#f6f6f6;
}

.deals .deal-info img {
    position: relative;
}

.deals .original-price {
    color: darkgreen;
}
.deals .cashback span, .deals .contribution span {
    font-weight: bold;
}
.deals .cashback, .deals .contribution {
    font-size: .8em;
}

.deals .original-price,
.deals .price-tag,
.deals .cashback,
.deals .contribution {
    width: 100%;
    text-align: right;
    margin-bottom: 0px;
}
.deals .price-tag {
    color: darkred;
}
.deals h2 {
    font-size: .9em;
    font-weight: bold;
}
/*END DEALS*/
/*------------------------ END INDEX.HTML -----------------------------*/

/*------------------------ DEAL.HTML -------------------------------*/
#site-wrapper {
    background-color:#f6f6f6;
    padding: 0;
    min-height: 100vh;
}
#deal-overview {
    background-color: #fff;
    padding: 15px 0 30px 0;
}
#deal-overview h2{
    font-size: .8em;
    margin: 0 0 3px 0;
}
#deal-overview p {
    font-size: 1.5em;
    margin-bottom: 10px;
}
#deal-overview h2, #deal-overview p{
    line-height: 1;
}
#deal-overview #btn-back {
    padding: 0 0 15px 15px;
    color: green;
}
#deal-overview #btn-back a {
    color: green;
}
#deal-overview #btn-back a:hover {
    text-decoration: none;
}

#deal-overview #btn-back span {
    position: relative;
    font-size: 20px;
    font-weight: bold;
    bottom: 3px;
    left: 3px;
}
#deal-overview .original-price {
    color: darkgreen;
}
#deal-overview .price-tag {
    color: darkred;
}
#deal-overview button, .btn-to-deal {
    border: 1px solid green;
    color: #fff;
    background-color: green;
    transition: all .3s ease-in-out;
    margin-top: 30px;
    outline: none;
}
#deal-overview button:hover, .btn-to-deal:hover {
    background-color: darkgreen;
}
#deal-overview .btn-to-deal {
    display: block;
    margin: 0 auto;
}
#deal-overview h1 {
    font-size: 1.7em;
}
#deal-overview article p, .popover p {
    margin: 0;
}

#deal-overview figure {
    margin: 0;
}
#deal article {
    padding: 50px 10px 30px 10px;
}
#deal p:last-child {
    margin-bottom: 0;
}
/*map*/
#deal #map {
    width: 400px;
    height: 200px;
    display: block;
    border: 1px solid #999;
    
    margin-left: 5px;
}

/*popover*/
.popover-content p {
    margin-bottom: 20px;
    color: #000;
}
.popover strong {
    color: darkred;
}

.popover #close {
    position: relative;
    bottom: 5px;
}
.popover .form-control {
    margin-bottom: 20px;
}
.popover .form-control:focus {
    border-color: green;
}
.popover .form-control option:active{
    border-color: green!important;
}
/*------------------- END DEAL.HTML -------------------*/

/*-------------- ORGANIZATION.HTML AND COMPANY.HTML ------------*/
body.customer-info {
    margin-top: 53px;
    min-height: 100%;
}
#enterprise {
    padding-bottom: 60px;
}
#organization article, #enterprise article {
    color: #666;
}
#organization {
    padding: 0;
}
#organization > div, #enterprise {
    background-color: #fff;
    padding-top: 53px;
}
#organization figure {
    display: inline-block;
    margin: 0;
    padding: 0;
    height: auto;
    position: absolute;
    bottom: 0;
}
#organization img {
    display: inline-block;
    width: 100%;
}
#organization a, #enterprise a {
    color: darkred;
    font-weight: bold;
}
#organization a.btn {
    width: 400px;
    font-weight: normal;
    display: block;
    margin: 0 auto;
    border-color: darkred;
    color: darkred;
    transition: .3s ease-in-out;
}
#organization a.btn:hover {
    background-color: darkred;
    color: #fff;
    transition: .3s ease-in-out;
}
#organization .feature .fa {
    display: inline;
    width: 30%;
    color: darkred;
    padding: 0 10px 50px 0;
    font-size: 2.5em;
}
#organization h3, #organization h2, #enterprise h2 {
    font-size: 22px;
    font-weight: bold;
}

#organization .feature div {
    float: left;
}

#organization .feature div:last-child {
    width: 70%;
}
#parallax {
    background-color: rgba(0,0,0,0.4)!important;
    color: #fff;
    text-align: center;
}
#parallax h2 {
    text-align: center;
    margin-bottom: 30px;
}
#organization li span {
    position: relative;
    bottom: 5px;
}
#organization > div:last-child figure {
    position: static;
}
#organization > div:last-child img {
    width: 85%;
}

#organization ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 30px;
}
#organization ul i {
    color: darkred;
    font-size: 30px;

}
#organization a[href*="itunes"] {
    margin: 40px 0 20px 0;
} 
                         
#organization a[href*="play"] {
    margin: 0 0 20px 0;
}
#organization a[href*="itunes"] i, #organization a[href*="play"] i {
    float: left;
} 
#organization a[href*="itunes"] span, #organization a[href*="play"] span {
    position: relative;
    top: 5px;
}
/*-------------- END ORGANIZATION.HTML AND COMPANY.HTML ------------*/

/*-------------- CONTACT.HTML --------------*/
#contact #form-wrapper {
    padding: 100px 0;
}
#contact h1 {
    color: #fff;
    margin-bottom: 20px;
    text-align: center;
}

#contact #form-container {
    padding:0;
}
#contact #contact-form {
    background-color: rgba(0,0,0,0.5);
    border-radius: 3px;
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
}
#contact .form-control {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    transition: .2s ease-in-out;
}
#contact .form-control:focus {
    background-color: #fff;
    color: #666;
}
#contact #contact-form button {
    color: #fff;
    border-color: #fff;
    outline: none;
    transition: .3s ease-in-out;
}
#contact #contact-form button:hover {
    background-color:#fff;
    color: #6f3333;
}
#contact ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
#contact ::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
#contact :-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
#contact :-moz-placeholder { /* Firefox 18- */
  color: #fff;
}
#contact .form-control:focus::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #666;
}
#contact .form-control:focus::-moz-placeholder { /* Firefox 19+ */
  color: #666;
}
#contact .form-control:focus:-ms-input-placeholder { /* IE 10+ */
  color: #666;
}
#contact .form-control:focus:-moz-placeholder { /* Firefox 18- */
  color: #666;
}
/*-------------- END CONTACT.HTML --------------*/

/*------------------ FAQ ---------------*/
#faq {
    padding: 30px 0;
}
#faq h3 {
    font-size: 20px;
}
.faq-question {
    font-weight: bold;
}
#faq h2, #faq h3 {
    text-align: center;
}
#faq li {
    margin: 10px 0;
}
/*------------------ END FAQ ---------------*/

/*------------------- MOBILE ----------------------*/
@media(max-width:767px) {
    /*HEADER*/
    #header {
        padding-bottom: 0!important;
    }
      
    #header .header-slide-container img {
        margin-top: 53px ;
        width: 100%;
        height: auto;
    }
    #header .image-wrapper {
        padding: 0;    
    }
    /*NAVIGATION AND CATEGORIES */
    #site-nav {
        padding: 8px 0 15px 0;
        background: url('../img/nikilogo.png');
        background-repeat: no-repeat;
        background-position: center 12px;
        background-color: #6f3333;
    }
    #navigation {
        margin-top: 50px;
    }
    #site-nav .dropdown-toggle {
        padding: 5px 0;
    }
    #site-nav #dropdown-faq {
        background-color: transparent;
        border: none;
    }
    #btn-mobile-dropdown-toggle { 
        position: fixed;
        top: 8px;
        right: 20px;
        color: #dedede;
        font-size: 30px;
        padding: 0;
        border: 0;
        background-color: transparent;
        outline-color: transparent;
    }
    #categories-filter-navigation {
        border-radius: 0;
    }
    #category-dropdown-mobile {
        position: absolute;
        top: 12px;
        left: -0px;
        width: 100%;
        border: 0;
        border-radius: 0;
        background-color: #6f3333;
        color: #fff;
    }
    #category-dropdown-mobile a {
        color: #d1d1d1;
    }
    #category-dropdown-mobile-container {
        width: 100%;
        position: relative;
    }

    #nav-icon {margin-left: 10px;}

    .nav-item {padding-left: 10px;}

    #btn-mobile-dropdown-toggle {font-size: 30px;}

    #logo, #filter {display: none;}

    /*FOOTER*/
    #footer {text-align: center;}
    #footer a.btn {
       margin: 0 auto 15px auto;
       width: 98%;
       font-size: 10px;
    }
    /*----------------- DEAL.HTML --------------*/
    #deal-overview a.btn {
        display: block;
        margin: 30px auto 0 auto;
        background-color: green;
        color: #fff;
    }
    #deal-overview a.btn:hover {
        background-color: green;
    }
    .popover {
        left: 11%!important;
    }
    #deal #map {
        width: 99%;
        height: 200px;
        margin: 0 auto 10px auto;
    }
    /*---------- ORGANIZATION.HTML ---------------*/
    #organization figure {
        width: 100%;
    }
    #organization img {
        width: 100%;
    }
    #organization > div:last-child img {
        width: 95%;
        float: right;
    }
    #organization article div:last-child {
        width: 80%;
        float: right;
    }
    #organization a.btn {
        width: 95%;
        background-color: darkred;
        color: #fff;
    }
    /*------------- CONTACT.HTML ------------------*/
    #contact #form-wrapper {
        padding: 0;
    }
    #contact #contact-form {
        border-radius: 0;
    }
    #contact #contact-form button {
        color: #6f3333;
        background-color: #fff;
        border-color: #fff;
    }
}

@media(max-width:992px) {
    #organization figure {
        position: static;
    }
}

@media(min-width:1920px) {
    #categories-filter-navigation ul, #btn-category-toggler {
        font-size: 20px;
    }
}

@media(min-width:1921px) {
    #organization img {
        width: 500px;
        float: right;
    }
}